In [6]:
import pandas as pd
import fastparquet
import pyarrow

In [18]:
from sqlalchemy import create_engine

In [4]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-15.0.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy<2,>=1.16.6 in /home/codespace/.local/lib/python3.10/site-packages (from pyarrow) (1.26.3)
Downloading pyarrow-15.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (38.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 38.3/38.3 MB 23.6 MB/s eta 0:00:00m eta 0:00:0100:01:01
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.0

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2024.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: pandas>=1.5.0 in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (2.1.4)
Requirement already satisfied: numpy>=1.20.3 in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (1.26.3)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.8.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.1 kB)
Requirement already satisfied: fsspec in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (2023.12.2)
Requirement already satisfied: packaging in /home/codespace/.local/lib/python3.10/site-packages (from fastparquet) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.4)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Downloading fastparquet-2024.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 11.6 MB/s eta 0:00:00m eta 0:00:01
Downloading cramjam-2.8.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 26.5 MB/s eta 0:00:00m eta 0:00:01
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.8.1 fastparquet-2024.2.0

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
pd.__version__

'2.1.4'

In [14]:
df_ny_taxi_2023 = pd.read_parquet("yellow_tripdata_2023-01.parquet")

In [15]:
schema = pd.io.sql.get_schema(df_ny_taxi_2023, name="yellow_taxi_data")
schema

'CREATE TABLE "yellow_taxi_data" (\n"VendorID" INTEGER,\n  "tpep_pickup_datetime" TIMESTAMP,\n  "tpep_dropoff_datetime" TIMESTAMP,\n  "passenger_count" REAL,\n  "trip_distance" REAL,\n  "RatecodeID" REAL,\n  "store_and_fwd_flag" TEXT,\n  "PULocationID" INTEGER,\n  "DOLocationID" INTEGER,\n  "payment_type" INTEGER,\n  "fare_amount" REAL,\n  "extra" REAL,\n  "mta_tax" REAL,\n  "tip_amount" REAL,\n  "tolls_amount" REAL,\n  "improvement_surcharge" REAL,\n  "total_amount" REAL,\n  "congestion_surcharge" REAL,\n  "airport_fee" REAL\n)'

In [17]:
pd.to_datetime(df_ny_taxi_2023.tpep_pickup_datetime)
pd.to_datetime(df_ny_taxi_2023.tpep_dropoff_datetime)

0         2023-01-01 00:40:36
1         2023-01-01 01:01:27
2         2023-01-01 00:37:49
3         2023-01-01 00:13:25
4         2023-01-01 00:21:19
                  ...
3066761   2023-02-01 00:12:33
3066762   2023-01-31 23:50:36
3066763   2023-01-31 23:25:36
3066764   2023-01-31 23:53:00
3066765   2023-01-31 23:21:56
Name: tpep_dropoff_datetime, Length: 3066766, dtype: datetime64[us]

In [20]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [21]:
schema_p = pd.io.sql.get_schema(df_ny_taxi_2023, name="yellow_taxi_data", con=engine)
schema_p

'\nCREATE TABLE yellow_taxi_data (\n\t"VendorID" BIGINT, \n\ttpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\ttpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\t"RatecodeID" FLOAT(53), \n\tstore_and_fwd_flag TEXT, \n\t"PULocationID" BIGINT, \n\t"DOLocationID" BIGINT, \n\tpayment_type BIGINT, \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tcongestion_surcharge FLOAT(53), \n\tairport_fee FLOAT(53)\n)\n\n'

In [22]:
print(schema_p)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [41]:
pq_file = pyarrow.parquet.ParquetFile("yellow_tripdata_2023-01.parquet")

batches = pq_file.iter_batches()
batches

#df_iter = pd.read_parquet("yellow_tripdata_2023-01.parquet", iterator=True, chunksize=100000)

In [33]:
df = next(batches).to_pandas()

In [37]:
df.head(10)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,12.8,1.00,0.5,10.00,0.0,1.0,27.80,2.5,0.00
6,2,2023-01-01 00:09:22,2023-01-01 00:19:49,1.0,1.66,1.0,N,239,143,1,12.1,1.00,0.5,3.42,0.0,1.0,20.52,2.5,0.00
7,2,2023-01-01 00:27:12,2023-01-01 00:49:56,1.0,11.70,1.0,N,142,200,1,45.7,1.00,0.5,10.74,3.0,1.0,64.44,2.5,0.00
8,2,2023-01-01 00:21:44,2023-01-01 00:36:40,1.0,2.95,1.0,N,164,236,1,17.7,1.00,0.5,5.68,0.0,1.0,28.38,2.5,0.00
9,2,2023-01-01 00:39:42,2023-01-01 00:50:36,1.0,3.01,1.0,N,141,107,2,14.9,1.00,0.5,0.00,0.0,1.0,19.90,2.5,0.00

In [35]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

536

In [ ]:
df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

In [39]:
from time import time

In [42]:
while True:
    start_time = time()
    
    try:
        df = next(batches).to_pandas()
    except Exception:
        break
        
    pd.to_datetime(df.tpep_pickup_datetime)
    pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    end_time = time()
    print("Inserting chunk.. took % .3f seconds " % (end_time - start_time))

Inserting chunk.. took  6.858 seconds
Inserting chunk.. took  6.750 seconds
Inserting chunk.. took  6.839 seconds
Inserting chunk.. took  6.586 seconds
Inserting chunk.. took  6.886 seconds
Inserting chunk.. took  6.971 seconds
Inserting chunk.. took  6.802 seconds
Inserting chunk.. took  6.576 seconds
Inserting chunk.. took  6.580 seconds
Inserting chunk.. took  7.124 seconds
Inserting chunk.. took  6.801 seconds
Inserting chunk.. took  6.662 seconds
Inserting chunk.. took  6.536 seconds
Inserting chunk.. took  7.076 seconds
Inserting chunk.. took  6.619 seconds
Inserting chunk.. took  6.794 seconds
Inserting chunk.. took  6.681 seconds
Inserting chunk.. took  6.748 seconds
Inserting chunk.. took  6.821 seconds
Inserting chunk.. took  6.720 seconds
Inserting chunk.. took  6.675 seconds
Inserting chunk.. took  6.742 seconds
Inserting chunk.. took  6.683 seconds
Inserting chunk.. took  6.656 seconds
Inserting chunk.. took  7.268 seconds
Inserting chunk.. took  6.693 seconds
Inserting chunk.. took  6.550 seconds
Inserting chunk.. took  7.135 seconds
Inserting chunk.. took  6.672 seconds
Inserting chunk.. took  6.644 seconds
Inserting chunk.. took  6.685 seconds
Inserting chunk.. took  6.745 seconds
Inserting chunk.. took  6.765 seconds
Inserting chunk.. took  7.003 seconds
Inserting chunk.. took  6.891 seconds
Inserting chunk.. took  6.701 seconds
Inserting chunk.. took  7.056 seconds
Inserting chunk.. took  6.749 seconds
Inserting chunk.. took  6.941 seconds
Inserting chunk.. took  6.977 seconds
Inserting chunk.. took  6.706 seconds
Inserting chunk.. took  6.914 seconds
Inserting chunk.. took  7.324 seconds
Inserting chunk.. took  6.706 seconds
Inserting chunk.. took  6.834 seconds
Inserting chunk.. took  6.607 seconds
Inserting chunk.. took  4.659 seconds

StopIteration:

In [43]:
engine.connect()

In [45]:
pd.read_sql("SELECT * FROM yellow_taxi_data LIMIT 1000", con=engine)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,0,2,2023-01-01 20:53:17,2023-01-01 20:59:06,2.0,0.62,1.0,N,48,68,2,7.2,1.00,0.5,0.00,0.00,1.0,12.20,2.5,0.00
1,1,2,2023-01-01 20:03:14,2023-01-01 20:20:58,1.0,9.50,1.0,N,138,140,2,38.0,6.00,0.5,0.00,6.55,1.0,55.80,2.5,1.25
2,2,2,2023-01-01 20:31:17,2023-01-01 20:35:21,1.0,0.53,1.0,N,140,141,2,5.8,1.00,0.5,0.00,0.00,1.0,10.80,2.5,0.00
3,3,2,2023-01-01 20:59:40,2023-01-01 21:10:44,1.0,2.10,1.0,N,141,143,2,13.5,1.00,0.5,0.00,0.00,1.0,18.50,2.5,0.00
4,4,2,2023-01-01 20:37:38,2023-01-01 20:48:17,1.0,3.04,1.0,N,264,7,1,15.6,6.00,0.5,5.78,0.00,1.0,30.13,0.0,1.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,2,2023-01-01 21:24:12,2023-01-01 21:40:59,1.0,2.01,1.0,N,234,161,2,16.3,1.00,0.5,0.00,0.00,1.0,21.30,2.5,0.00
996,996,2,2023-01-01 21:42:28,2023-01-01 21:53:01,1.0,1.70,1.0,N,161,237,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
997,997,1,2023-01-01 21:13:36,2023-01-01 21:52:02,1.0,20.30,2.0,N,132,158,1,70.0,3.75,0.5,12.79,0.00,1.0,88.04,2.5,1.25
998,998,2,2023-01-01 21:08:07,2023-01-01 21:13:02,4.0,1.04,1.0,N,237,142,1,7.2,1.00,0.5,3.05,0.00,1.0,15.25,2.5,0.00
999,999,2,2023-01-01 21:42:22,2023-01-01 21:52:02,1.0,2.41,1.0,N,162,262,1,12.8,1.00,0.5,2.67,0.00,1.0,20.47,2.5,0.00